@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

:root {
    --primary-color: #1EA192;
    --secondary-color: #F5C83A;
    --accent1-color: #AF916E;
    --accent2-color: #90903E;

    --heading-font: 'Lora', serif;
    --paragraph-font: 'Nunito Sans', sans-serif;

    --nav-background-color: #F5C83A;
    --nav-link-color: #0F0E0F;
    --nav-hover-link-color: #F5C83A;
    --nav-hover-background-color: #0F0E0F;
}



body{
    font-family: var(--paragraph-font);
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

header{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    background-color: var(--nav-background-color);
    padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

p {
    padding: 25px;
}

a {
    text-decoration: none;
    color: var(--nav-link-color);
}

nav {
    
    font-size: 1.2rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

header img{
    width: 90px;
}
iframe{
    border: 0;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
    justify-content: center;
    width: 100%;
}

.hero-image{
    display: block;
    width: 100%;
    height: auto;
}

.hero-content{
    width: 900px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content h1{
    color: #90903E;
    padding: 5px 50px;
    text-align: center;
    background-color: rgb(0, 0, 0, .8)

}
.hero-content article{
    padding: 15px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 161, 146, .9);
}

.hero-content img{
    width: 120px;
}

.history{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.history-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.adventure{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.adventure-content{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
}

footer{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
}



.article-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.employee-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.squares-wrapper{
    display: flex;
    justify-content: center;
}

.squares-wrapper > .squares{
   width: 1000px;
}

.squares-wrapper > .squares > .square{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
}

.square > .image-wrapper img {
   width: 100%;
   height: 500px;
   object-fit: cover;
}

.square > .square-text-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 42px
}

.square > .square-text-wrapper h1{
   color: #cea135;
}


.company-information-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-detail{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.location{
    text-align: center;
}

.form{
    
}

.form > .form-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid #11122b;
    display: block;
    transition: all 0.3s;
    width: 100% ;
}

.form input:focus{
    outline:none;
    box-shadow: 0 2rem 2rem  rgba(0,0,0,0.1);
    border-bottom: 3px solid #F5C83A;
}

.form-group-radio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}


.form textarea {
    margin-top: 20px;
    width: 100%;
    height: 250px;
    border-radius: 3px;
    border: 3px solid #11122b;
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    transition: all 0.3s;
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder{
    color: #11122b;
}

.form label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    color: #1EA192;
    visibility: hidden;
    opacity:0;  
}

.form textarea:focus{
    outline:none;
    box-shadow: 0 2em 2rem  rgba(0,0,0,0.1);
    border: 3px solid #F5C83A;
}

.form input:focus + label, textarea:focus + label {
    opacity: 1;
    visibility: visible;
    transform: translateY(1rem);
}

.form input:focus::-webkit-input-placeholder, .form textarea:focus::-webkit-input-placeholder{
    color:transparent;
}

.btn{
    background-color: #F5C83A;
    color: #11122b;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid #F5C83A;
    outline: none;
    transition: 0.3s;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .4);
}

.btn:active{
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0);
}

.centered-btn-wrapper{
    display: flex;
    justify-content: center;
}

.form-group-radio label{
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    color: #F5C83A;
    opacity: 1;
    visibility: visible;
}

.form-group-radio input[type='radio']{
    width: 20px;
}

.form-group-radio input:focus{
    box-shadow: none;
    border-bottom: none;
}

.form-group-checkbox input:focus{
    box-shadow: none;
    border-bottom: none;
}


.form-group-radio input:focus + label, textarea:focus + label {
    opacity: 1;
    visibility: visible;
    transform: none;
}

.form-group-checkbox input:focus + label, textarea:focus + label {
    opacity: 1;
    visibility: visible;
    transform: none;
}

.form-group-radio h2{
    padding: 10px;
}

.radio-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.form-group-checkbox{
    display: flex;
    width: 1000px;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding:20px;
}

.form-group-checkbox label{
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    color: #F5C83A;
    opacity: 1;
    visibility: visible;
    width: 550px;
}

.spacer10{
    height: 100px;
    width: 100%
}

h1{
    align-items: center;
    width: 100%;
    text-align: center;

}

.trip-details-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    padding: 40px;
}

.trip-details{
    padding: 30px;
}

.trip-table-wrapper{
    display: flex;
    justify-content: center;
}

table, th, td{
    border: black solid 1px;
    

}

th, td{
    padding: 40px;
}

th{
    background-color: #90903E;
}



.call-to-action-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.call-to-action-wrapper p{
    font-size: 1.2rem;
}