@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

:root {
    --primary-color: #1EA192;
    --secondary-color: #F5C83A;
    --accent1-color: #AF916E;
    --accent2-color: #90903E;

    --heading-font: 'Lora', serif;
    --paragraph-font: 'Nunito Sans', sans-serif;

    --nav-background-color: #F5C83A;
    --nav-link-color: #0F0E0F;
    --nav-hover-link-color: #F5C83A;
    --nav-hover-background-color: #0F0E0F;
}



body{
    font-family: var(--paragraph-font);
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

header{
    display: grid;
    width: calc(100%-15px);
    grid-template-columns: 1fr 1fr;
    background-color: var(--nav-background-color);
    padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

p {
    padding: 25px;
}

a {
    text-decoration: none;
    color: var(--nav-link-color);
}

nav {
    
    font-size: 1.2rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

header img{
    width: 90px;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
    justify-content: center;
    width: 100%;
}

.hero-image{
    display: block;
    width: 100%;
    height: auto;
}

.hero-content{
    width: 900px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content h1{
    color: var(--accent2-color);
    padding: 5px 50px;
    text-align: center;
    background-color: rgb(0, 0, 0, .8)

}
.hero-content article{
    padding: 15px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 161, 146, .9);
}

.hero-content img{
    width: 120px;
}

.history{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.history-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.adventure{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.adventure-content{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
}

footer{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
}



.article-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}