*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

html{ 
  display: flex;
  flex-direction: column;
  align-items: center;

}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

h1 {
  color: steelblue;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid steelblue;
}

.grid {
  display: grid;
  align-items: center;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  padding: 10px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
}

p {
  padding: 0;
}


aside img {
  width: 200px;
  height: auto;

}

footer {
  margin-top: 1em;
  border-top: 1px solid #333;
  text-align: center;
}

/* Class Selectors */

.box{
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1.5rem;
  background-color: pink;
  color: #000;
}

